.search-tags {
  display: flex;
  margin: 15px 0 10px 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.search-tags a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 5px;
  border: 1px solid lightgray;
  font-size: 0.9rem;
  border-radius: 3px;
  transition: all 0.2s ease;
  color: #6b6b6b;
}
.search-tags a:hover {
  border: 1px solid #858585;
  color: black;
}
