.search-user {
  display: flex;
  margin-bottom: 30px;
}
.search-user img {
  width: 60px !important;
  height: 60px;
  margin: 0 10px 0 0;
  object-fit: cover;
  border-radius: 50px;
}
.search-user .name {
  font-weight: 700;
  font-size: 1.2rem;
}
.search-user .descr {
  font-size: 0.93rem;
}
.search-user .content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.search-user p {
  margin-bottom: 0.3rem;
}
